.Chat-main
  .Chat-main__group-info
    .Header-left
      .Header-left__name test
      .Header-left__lists Member:masa
    = link_to "#", class: "Header-edit" do
      Edit
  .Chat-main__message-list
    .Message-info
      .Message-info__top
        .Message-info__name masa
        .Message-info__time 2019/11/20(Wed) 17:43:01
      .Message-info__content おはよう！
    .Message-info
      .Message-info__top
        .Message-info__name masa
        .Message-info__time 2019/11/20(Wed) 17:43:01
      .Message-info__content おはよう！
  .Chat-main__message-form
    %form.Form
      .Form__contents
        %input{type: "text", class: "Form__text", placeholder: "type a message"}
        %label{class: "Form__image"}
          = icon('fas', 'image')
          %input{type: "file", class: "Form__image-file"}
      %input{type: "submit", class: "submit-btn", value: "Send"}