.Side-bar
  .Side-bar__user-name
    .Top-items
      %p.Top-items__name masa
      .Top-items__icons
        = link_to "#" do
          =icon('far', 'edit', class: "Top-items__icon")
        = link_to "#" do
          =icon('fas', 'cog', class: "Top-items__icon")
        
  .Side-bar__group-list
    .Group
      .Group__name techcamp
      .Group__message まだメッセージがありません
    .Group
      .Group__name techcamp
      .Group__message まだメッセージがありません
  